#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .logo {
    font-size: 36px;
    color: #fff;
    
  }
  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-background {
    background: #fff;
  }

  .site-layout {
    background-color: #D6E6FF;
  }
  .ant-layout-footer {
    background-color: #D6E6FF;
  }
  .ant-layout-sider-trigger {
    background-color: #5F9FFF;
  }